.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meus-filmes h1{
    margin-bottom: 14px;
}
.meus-filmes span{
    font-size: 18px;
    font-weight: 600;
}
.meus-filmes ul{
    width: 720px;
}
.meus-filmes ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    background-color: #0f0f0f;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;

}
.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.meus-filmes div a{
    text-decoration: none;
    margin-right: 14px;
    color: #fff;
}
.meus-filmes div a:hover{
    text-decoration: underline;

}
.meus-filmes div button{
    background-color: #116feb;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: bold;
}
.meus-filmes div button:hover{
    background-color: #fff;
    color: #116feb;
    
    
}
.paragrafo{
  font-size: 22px;
  width:600px;
  height: 100px;
}
.titulo-modal span {
    font-size: 22px;
    color: #0f0f0f;
}
.titulo-filme-modal span{
    padding: 14px 0px;
    font-size:20px;
    font-weight: 800;
    margin-left: 5px;
}
.area-button-acao{
    margin-bottom: 12px;
     margin-right: 12px;

}
.area-button-acao Button{
    transition: all 0.5;
    color: #000;
    background-color: #dddddd;
}

.area-button-acao Button:hover{
    background-color: #116feb;
    color: #fff;
    font-weight: 700;

  
}