
.container-list{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
  
}
.lista-filmes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 65px;
}

.lista-filmes article{
    margin:10px 10px;
    border: none;
    width:300px;
    
}

.lista-filmes strong{
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
    display: flex;
    height: 50px;
    justify-content: center;
    text-align: left;
    padding: 0px 2px;
    align-items: center;
    color: #fff;
}
.lista-filmes img{
    width:300px;
    max-height: 300px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 24px;
    font-weight: bolder;
    background-color: #116feb;
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.3s;
}
.lista-filmes a:hover{
    background-color: #0542e9;
    font-weight: bolder;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
/* .pagination{
    display: flex;
    position: absolute;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
 
.arrow-right ,.arrow-left:hover{
    cursor: pointer;
}

.pagination  span{
    padding:0px 10px;
} */