header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #0f0f0f;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
}

.favoritos{
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 14px;
    color: #000;
    border-radius: 4px;
    align-items: center;
    display: flex;
}
.menu{
    display: flex;
    justify-content: space-between;
    width:250px;
}
.categoria{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
}

.lista-categoria{
    display: none;
    background-color: #242222;
    position:absolute;
    top: 47.5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
    height: 200px;
    padding: 8px 0;
    z-index: 20;
}
.lista-categoria::-webkit-scrollbar{
    width: 10px;
}
.lista-categoria::-webkit-scrollbar-thumb{
    background-color: #9999;
}
.lista-categoria li a{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 5px 12px;
    color: #fff;
    text-decoration: none;
}
.lista-categoria li:hover {
    background: #7777;
    cursor: pointer;
}
.categoria:hover > ul {
    display: block;
 }